<div class="text_field">
  <%= form.label :firstname %><br />
  <%= form.text_field :firstname %>
</div>
<div class="text_field">
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</div>
<div class="text_field">
  <%= form.label :email %><br />
  <%= form.text_field :email, :type => "email" %>
</div>
<div class="password_field">
  <%= form.label :password %><br />
  <%= form.password_field :password %>
</div>
<div class="date_field">
  <%= form.label :borndate %><br />
  <%= form.date_select :borndate, :start_year=>Time.now.year-50, :end_year=>Time.now.year, :order=> [:day,:month,:year] %>
</div>