<p id="notice"><%= notice %></p>

<h1>
<%= gravatar_image_tag @user.email %>
<%= @user.firstname + " " + @user.name %>
</h1>

<% if @is_admin_of_page %>
	<h2>What's up?</h2>
	<%= form_for [@user, @post] do |f| %>
		<%= f.label :content %><br />
		<%= f.text_field :content %><br />
		<%= f.submit %>
	<% end %>
<% end %>

<table class="profile">
	<td class="sidebar">
		<strong>Firstname</strong> <%= @user.firstname %><br />
		<strong>Lastname</strong> <%= @user.name %><br />
		<strong>Email</strong> <%= @user.email %><br />
		<strong>Birthday</strong> <%= @user.borndate %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		<strong>Messages</strong> <%= @user.posts.count %><br />
	</td>
	<td class="main">
		<% unless @user.posts.empty? %>
			<%= will_paginate @posts %>
			
	        	<table class="posts">
	          		<%= render @posts %>
	        	</table>
	        	
        	<%= will_paginate @posts %>
     	<% end %>
	</td>
</table>