<p id="notice"><%= notice %></p>

<h1>
<%= gravatar_image_tag @user.email %>
<%= @user.firstname + " " + @user.name %>
</h1>

<table class="profile">
	<td class="sidebar">
		<strong>Firstname</strong> <%= @user.firstname %><br />
		<strong>Lastname</strong> <%= @user.name %><br />
		<strong>Email</strong> <%= @user.email %><br />
		<strong>Birthday</strong> <%= @user.borndate %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		<strong>Messages</strong> <%= @user.posts.count %><br />
	</td>
	<td class="main">
		<% unless @user.posts.empty? %>
        <table class="posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
	</td>
</table>