<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<p>
  <b>id:</b>
  <%= @user.id %>
</p>

<p>
  <b>last signed in at:</b>
  <%= @user.last_signed_in_at%>
</p>