<h1>MyFM</h1>
<%= image_tag("MyFM-long.jpg", :alt => "MyFM", :class => "long_logo") %>
<h2>Social network designed for music bands and their fans!</h2>
<%= form_tag("/pages/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
