<div class="information">
<p id="notice"><%= notice %></p>

<h1><%= @band.name %></h1>

<table class="profile">
	<td class="sidebar">
		<strong>Creation date</strong> <%= @band.creation_date %><br />
		<strong>LastFM</strong> <%= @band.lastFM_bandname %><br />
		<strong>Bio</strong> <%= @band.bio %><br />
		<strong>URL</strong> <%= link_to user_path(@band), @band %><br />
		<strong>Messages</strong> <%= @band.posts.count %><br />
	</td>
	<td class="main">
		<% unless @band.posts.empty? %>
        <table class="posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
	</td>
</table>

