<div class="information">
<p id="notice"><%= notice %></p>

<h1><%= @band.name %></h1>
<% if @is_admin_of_band %>
  <%= link_to "Edit band", edit_band_path(@band)%><br />
<% end %>

<div id="bandpresentation">
	<% if(!@band.avatar.empty?) %>
		<img id="bandAvatar" src="<%= @band.avatar %>" />
	<% end %>

	<% if(!@artist.top_tracks.empty?) %>
		<div class="famous_songs">
			Made famous for the songs 
			<% a = Array.new %>
			<% @artist.top_tracks.each do |t| %>
				<% a.push(t.name) %>
			<% end %>
			<%= a.join(", ") %>
			 as provided by last.fm
		</div>
		<div style="clear:both;"></div>
	<% end %>
</div>


<div id="bandposts">
	<div id="bandInfos">
		<strong>Creation date: </strong> <%= @band.creation_date %><br />
		<strong>Posts so far: </strong> <%= @band.posts.count %><br />
		<strong>Bio: </strong> <%= @band.bio %><br />
	</div>
	<div id="posts">
		<% if @is_admin_of_band %>
			<div id="whatsup">
			<%= form_for [@band, @post] do |f| %>
				<%= f.text_field :content, :id => "whatsuptextarea", :value => "What's new ?", :onfocus => "this.value=''" %>
				<%= f.submit %>
			<% end %>
			</div>
		<% end %>
		
		<% unless @band.posts.empty? %>
			<%= render @posts %>
			<div style="margin-top:10px;">
				<%= will_paginate @posts %>
			</div>
		<% end %>
		
	</div>
	<div style="clear:both;"></div>
</div>




