<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->    
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
  <div id="header">
  	<div class="container">
  	  	<%= link_to image_tag("logo16.png", :alt => "MyFM", :class => "round"), root_path %>MyFM |
	    <% if signed_in? %>
	      <%= current_user.firstname %>&nbsp;<%= current_user.name %>
	    <% else %>
	      <%= link_to "Sign in", sign_in_path %>
	    <% end %>
	  <div style="float: right; padding-top: 7px;">
	  	<% if signed_in? %>
	<!--mybands_user_path(current_user.id)-->
	  	  <%= link_to "Home", root_path %> | <%= link_to "My bands", mybands_user_path(current_user.id) %> | <%= link_to "My profile", user_path(current_user.id)%> | <%= link_to "Settings", edit_user_path(current_user)%> | <%= link_to "Sign out", sign_out_path %>
	  	<% else %>
	  	  New on MyFM? <%= link_to "Sign up now!", sign_up_path %>
	  	<% end %>
	  </div>
	</div>
  </div>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <div id="main_container">
  	<%= yield %>
  <div id="copyrights">Copyright 2011, He-Arc - Cramatte, Geiser & Wolflisberg</div>
  </div>
</body>
</html>
